<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google Font Khand -->
     <link href="https://fonts.googleapis.com/css2?family=Khand:wght@400;500;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/style/style.css">
    <title>Pokedex</title>

</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-content">
            <h2>Pokedex</h2>
            <input type="text" id="searchBar" placeholder="Looking for a pokemon?">
            
            <nav>
                <ul>
                    <li><a href="/bug"><img src="/images/Bug.png" alt="Bug icon"><span>Bug Pokemon</span></a></li>
                    <li><a href="/dark"><img src="/images/Dark.png" alt="Dark icon"><span>Dark Pokemon</span></a></li>
                    <li><a href="/dragon"><img src="/images/Dragon.png" alt="Dragon icon"><span>Dragon Pokemon</span></a></li>
                    <li><a href="/electric"><img src="/images/Electric.png" alt="Electric icon"><span>Electric Pokemon</span></a></li>
                    <li><a href="/fairy"><img src="/images/Fairy.png" alt="Fairy icon"><span>Fairy Pokemon</span></a></li>
                    <li><a href="/fighting"><img src="/images/Fighting.png" alt="Fighting icon"><span>Fighting Pokemon</span></a></li>
                    <li><a href="/fire"><img src="/images/Fire.png" alt="Fire icon"><span>Fire Pokemon</span></a></li>
                    <li><a href="/flying"><img src="/images/Flying.png" alt="Flying icon"><span>Flying Pokemon</span></a></li>
                    <li><a href="/ghost"><img src="/images/Ghost.png" alt="Ghost icon"><span>Ghost Pokemon</span></a></li>
                    <li><a href="/grass"><img src="/images/Grass.png" alt="Grass icon"><span>Grass Pokemon</span></a></li>
                    <li><a href="/ground"><img src="/images/Ground.png" alt="Ground icon"><span>Ground Pokemon</span></a></li>
                    <li><a href="/ice"><img src="/images/Ice.png" alt="Ice icon"><span>Ice Pokemon</span></a></li>
                    <li><a href="/nmal"><img src="/images/Normal.png" alt="Normal icon"><span>Normal Pokemon</span></a></li>
                    <li><a href="/poison"><img src="/images/Poison.png" alt="Poison icon"><span>Poison Pokemon</span></a></li>
                    <li><a href="/psychic"><img src="/images/Psychic.png" alt="Psychic icon"><span>Psychic Pokemon</span></a></li>
                    <li><a href="/rock"><img src="/images/Rock.png" alt="Rock icon"><span>Rock Pokemon</span></a></li>
                    <li><a href="/teel"><img src="/images/Steel.png" alt="Steel icon"><span>Steel Pokemon</span></a></li>
                    <li><a href="/water"><img src="/images/Water.png" alt="Water icon"><span>Water Pokemon</span></a></li>
                </ul>
            </nav>
        </div>
    </aside>